html, body {
  height: 100%;
  margin: 0;
}
body {
   background-image: url('https://raw.githubusercontent.com/jaseel0/bca_efootball_web/blob/main/to/background1.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 100vh;
}

